
.Container {
    width: 35vw;
    height: 70vh;
    background-color: #141534;
    border: 1px solid #2F3279;
    padding: 45px 60px ;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: column;
    color: #B2B8DE;

    & {
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

.Container div {
    margin-bottom: 10px;
}

.Container > span {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.Container label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 9px;
  text-transform: uppercase;
  font-family: Inter;
  margin: 7px;

  color: #B2B8DE;
}


.Container input,
.Container select {
  width: 23vw;
  height: 6vh;
  padding: 9px 50px;
  border-radius: 6px;
  border: none;
  font-size: 12px;
  outline: none;
  gap: 8px;

  background-color: #0E0F25;
  border: 1px solid #1F2151;
  color: #B2B8DE;

   & {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      text-align: left !important;
      padding-left: 20px !important; 
      direction: ltr !important;
   }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
    box-shadow: 0 0 0px 1000px #0E0F25 inset !important;
    -webkit-text-fill-color: #B2B8DE !important;
    transition: background-color 9999s ease-in-out 0s;
}
}

.Container button {
  width: 100%;
  padding: 10px 30px;
  margin-top: 10px;
  border-radius: 6px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;

  background-color: #3034a9;
  color: #B2B8DE;
  box-shadow: 0px 5px 30px  #060713;
}

.Container button:hover {
  background-color: #222e89;
}

.Container button:active {
  background-color: #1e2376;
  transform: scale(0.95); 
}

.Resultado {
  margin-top: 20px;
  background-color: #0A0B1E;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  text-align: center;
  color: #B2B8DE;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

  p {
    font-size: 12px;
    color: #7c82b0;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
  }
}



@media ( max-width: 1240px ) {
  .Container {
      width: 40vw;
      height: 70vh;
      align-items: center;

      & {
        display: flex;
        justify-content: center;
      }
  
  input, select {
        width: 25vw;
        height: 7vh;
        font-size: 15px;
        margin: 3px;
    }
  }
}

@media ( max-width: 885px ) {
  .Container {
    height: 60vh;
    width: 60vw;

    & {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    input, select {
      width: 37vw;
      height: 5.5vh;
      font-size: 15px;
      margin: 6px;
    }
  }
}

@media ( max-width: 879px ) {
  .Container {
    height: 75vh;
    width: 65vw;

    & {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    input, select {
      width: 40vw;
      height: 7vh;
      font-size: 15px;
      margin: 6px;
    }
  }
}

@media ( max-width: 844px ) {
  .Container {
    height: 70vh;
    width: 60vw;
    
    input, select {
      width: 37vw;
      height: 6vh;
      font-size: 15px;
      margin: 6px;
    }
  }
}

@media ( max-width: 810px ) {
  .Container {
    height: 49vh;
    width: 70vw;

    input, select {
      width: 45vw;
      height: 5vh;
      font-size: 15px;
      margin: 6px;
    }
  }
}

@media ( max-width: 840px ) {
  .Container {
    height: 55vh;
    width: 70vw;

    input, select {
      width: 45vw;
      height: 5.5vh;
      font-size: 17px;
      margin: 7px;
    }
  }
}

@media ( max-width: 432px ) {
  .Container {
    height: 68vh;
    width: 90vw;

    input, select {
      width: 60vw;
      height: 7vh;
      margin: 5px;
      font-size: 13px;
    }
  }
}


@media (max-width: 395px) {
   .Container {
    height: 75vh;
    width: 92vw;

    input, select {
      width: 60vw;
      height: 6.6vh;
      margin: 5px;
      font-size: 13px;
    }
  }
}

@media ( max-width: 325px ) {
  .Container {
    height: 95vh;
    width: 95vw;

    input, select {
      width: 64vw;
      height: 8vh;
    }
  }
}



