body {
  background-image: url('/currency-converter/public/background.png');
  background-size: cover; // cobre toda a tela
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}
