@import 'fonts';

/* Define as fontes padrão */
:root {
  --font-inter: 'Inter', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aplica Inter no corpo inteiro */
body {
  background-image: url('/image/background.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


